<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>
  
  <%- include('../partials/header') %>

  <h2>Search Results</h2>
  <main class="searchResults">
    <div>
      <% books.forEach (book => { %> 
        <section id="bordersection">
          <div>
            <img id="bookCover" src="<%= book.image %>">
          </div>
          <div id="title">
            <%= book.title %> 
          </div>    
          <div id="author">
            Author Name: <%= book.author %> 
          </div>
          <div id="description">
            Description: <%= book.description %> 
          </div>
          <div id="isbn">
            ISBN: <%= book.isbn %> 
          </div>
          <div id="price">
            Price: <%= book.amount %> 
          </div>

          <div id="selecter">
            <form name="selectThisBook" id="searchForm" method="get" action="/">     
              <input type="hidden" name="title" value="book.title">
             <button  type="submit" id="selectThisBook">SELECT THIS BOOK</button>
            </form>
          </div>
          
        </section>
      <% }); %>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>