<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>
  
  <%- include('../partials/header') %>

  <h2>Search Results</h2>
  <main class="searchResults">
    <div>
      <% books.forEach (book => { %> 
    </div>
    <section>
    <div>
      <img id="bookCover" src="<%= book.image %>">
    </div>
    <div id="title">
      <%= book.title %> 
    </div>    
    <div id="author">
      Author Name: <%= book.author %> 
    </div>
    <div id="description">
      Description: <%= book.description %> 
    </div>
      <% }); %>
    </div>
  </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>