<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>
    <ul>
      <% books.forEach ( book => { %>
        <li>
          <img id="bookCover" src="<%= book.image_url %>">
          Tittle: <%= book.title %>
          Authors: <%= book.authors %>
          <!-- Description: <%= book.descriptions %> -->
          Description: <%= book.descriptions %>
        </li>
      <% }) %>
    </ul>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>