<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>
    <form id="searchForm" method="get" action="/onebook"> 
    <ul>
      <% books.forEach ( book => { %>
        <img id="bookCover" src="<%= book.image_url %>">
        <li id="listItems">
          Tittle: <%= book.title %></br>
          Authors: <%= book.authors %>
        </li>
        <button  type="submit" id="viewDetails">View Details</button>

      <% }) %>
    </ul>
    </form>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>