<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Book App</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>
    <% books.forEach ( book => { %>
    <ul>
      <form id="searchForm" method="get" action="onebook/<%= book.id %>"> 
        <img id="bookCover" src="<%= book.image_url %>">
        <li id="listItems">
          Tittle: <%= book.title %></br>
          Authors: <%= book.authors %> <br>
        </li>    
        <button type="submit" id="viewDetails">View Details</button>
      </ul>
    </form>
    <% }) %>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>