<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>
    <ul>
      <li id="listItems">
        <img id="bookCover" src="<%= book.image_url %>">
        Tittle: <%= book.title %></br>
        Authors: <%= book.authors %>
      </li>
      
      <form action="/update">
        <button type="submit" id="update">Update</button>
      </form>
      
      <form action="/deleteBook">
        <button type="submit" id="delete">Delete</button>
      </form>
     </ul>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>