<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>

  <%- include('../pages/partials/header') %>
  
  <main>

    <ul>
      <li id="listItems">
        <img id="bookCover" src="<%= book.image_url %>">
        Tittle: <%= book.title %></br>
        Authors: <%= book.authors %>
      </li>
<<<<<<< HEAD
      <button id="edit">Update</button>

    <span id="flex">
      <form id="edit-task-form"  method="post" action="/update-book/<%= book.id %>?_method=put">
        <input class="update" name="title" value= "<%= book.title %>" /><br>
        <input class="update" name="image" value= "<%= book.image_url %>" /><br>
        <input class="update" name="author" value= "<%= book.authors %>" /><br>
        <input class="update" name="isbn" value= "<%= book.isbn %>" /><br>
        <input id="descript" class="update" name="description" value= "<%= book.descriptions %>" /><br>
        <button type="submit">Update</button>
=======
      
      <form method="post" action="/updateBook/<%= book.id %>?_method=put">
       <button type="submit" id="update">Update</button>
>>>>>>> 78f064b43aa31b20d0b53bf5f1c79f5733d6d9f5
      </form>
    </span>
    <form method="post" action="/delete-book/<%= book.id %>?_method=delete">
      <button type="submit" id="delete">Delete</button>
    </form>
      


      
<<<<<<< HEAD
=======
      <form method="post" action="/deleteBook/<%= book.id %>?_method=delete">
        <button class="delete">Delete Book</button>
      </form>
>>>>>>> 78f064b43aa31b20d0b53bf5f1c79f5733d6d9f5
     </ul>

  </main>
  
  <%- include('../pages/partials/footer') %>


  <%- include('../pages/partials/scripts') %>

</body>
</html>